#search-bar{
    position: relative;
    border: 2px solid gray;
    border-radius: 25px;
    opacity: 0.5;
    padding:5px 25px;
    font-size: 16px;
}
#search-bar:focus-visible{
    outline: none;
}
img{
    position: absolute;
    top: 3.5%;
    width: 18px;
    left: 10px;
    transform: translateY(-50%);
    padding-left: 5px;
}
