* {
  margin: 0;
  padding: 0;
  background-color: black;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  height: 100vh;
  color: white;
  font-family: "Rubik", sans-serif;
  gap: 15px;
}

.icons {
  display: flex;
  gap: 150px;
}

.details {
  margin-left: 10px;
  display: flex;
  gap: 20px;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
  color: hsl(0, 0%, 50%);
}

.box {
  border: 1px solid white;
  padding: 5px 10px;
}

.small-box {
  border: 1px solid white;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.genre {
  margin-left: 10px;
  display: flex;
  gap: 15px;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}
span {
  font-size: 50px;
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
}

img {
  height: 60px;
  margin: 5px;
}
